@model int
<div class="row">
    <div class="col">
        <div class="d-grid gap-2">
			<button type="submit" class="btn btn-primary" onfocus="false"
					asp-route-id="Model">
				<i class="bi bi-pencil-square"></i>
				Guardar cambios
			</button>
        </div>
    </div>
    <div class="col">
        <div class="d-grid gap-2">
			<a class="regresar btn btn-success" asp-action="Index">
				<i class="bi bi-arrow-return-left"></i>
				Regresar
			</a>
        </div>
    </div>
</div>
