<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TlapaleriaCeja</title>



    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="https://tunatheme.com/tf/html/spero-preview/spero/img/favicon.png" type="image/x-icon">
    <!-- Font Icons css -->
    <link rel="stylesheet" href="~/detailSpero_files/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="~/detailSpero_files/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/detailSpero_files/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/detailSpero_files/responsive.css">




    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/contactoSwise_files/all.min.css">
    <link rel="stylesheet" href="~/contactoSwise_files/ionicons.min.css">
    <link rel="stylesheet" href="~/contactoSwise_files/themify-icons.css">
    <link rel="stylesheet" href="~/contactoSwise_files/linearicons.css">
    <link rel="stylesheet" href="~/contactoSwise_files/flaticon.css">
    <link rel="stylesheet" href="~/contactoSwise_files/simple-line-icons.css">
  




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TlapaleriaCeja.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />



</head>
<body>

    <header>
        <!-- Navbar superior -->
        <nav class="navbar-superior navbar navbar-expand-sm navbar-toggleable-sm navbar-fixed-top navbar-light box-shadow border-bottom border-1 border-dark bg-white">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand ps-4" asp-area="" asp-controller="Home" asp-action="Index" style="display: flex; align-items: center;">
                    <img src="~/img/Logo_Blanco.jpeg" style="max-height: 50px; margin: 0 auto;" />
                </a>

                <!-- Input búsqueda -->
                <div class="search-form" style="width: 450px;">
                    <form class="form-inline mx-auto">
                        <div class="input-group">
                            <input class="form-control border-dark" type="search" placeholder="Buscar" aria-label="Buscar" style="max-width: 100%;">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark bkg-cl-primario" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Iniciar sesión y carrito -->
                <div class="navbar-nav ml-auto pe-4" style="font-size: 2rem;">
                    <partial name="_LoginPartial" />
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                        <i class="bi bi-cart" style="color:black"></i>
                    </a> 
                </div>
            </div>
        </nav>


        <!-- Navbar inferior -->
        <nav class="navbar-inferior navbar navbar-expand-sm navbar-toggleable-sm navbar-fixed-top navbar-light border-bottom box-shadow bkg-cl-primario" style="background-color: #FFF114;">
            <div class="container-fluid">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item dropdown mt-0" style="width: 12%;">
                            <a class="nav-link text-dark dropdown-toggle text-center fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" style="width: 100%;" aria-labelledby="navbarDropdown">
                                <li class="mt-0">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Bodega" asp-action="Index">Bodegas</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categoria" asp-action="Index">Categorias</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Marca" asp-action="Index">Marcas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item mt-0" style="width: 12%;">
                            <a class="nav-link text-dark text-center fs-5" asp-area="" asp-controller="" asp-action="">Marcas</a>
                        </li>
                        <li class="nav-item mt-0" style="width: 12%;">
                            <a class="nav-link text-dark text-center fs-5" asp-area="" asp-controller="" asp-action="">Ofertas</a>
                        </li>
                        <li class="nav-item dropdown mt-0" style="width: 12%;">
                            <a class="nav-link text-dark text-center fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contenido
                            </a>
                            <ul class="dropdown-menu" style="width: 100%;" aria-labelledby="navbarDropdown">
                                <li class="mt-0">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Bodega" asp-action="Index">Bodegas</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categoria" asp-action="Index">Categorias</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Marca" asp-action="Index">Marcas</a>
                                    <a class="dropdown-item" asp-area="Inventario" asp-controller="ProductoDetalle" asp-action="ProductoDetalle">ProductoDetalle</a>
                                    <a class="dropdown-item" asp-area="Inventario" asp-controller="ProductoDetalle" asp-action="Contacto">Contacto</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item mt-0" style="width: 12%;">
                            <a class="nav-link text-dark text-center fs-5" asp-area="" asp-controller="Home" asp-action="Privacy">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            <partial name="_Notificaciones" />
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5 bg-black" style="border-top: 10px solid #FFF114;">
        <!-- Seccion: Links  -->
        <section class="">
            <div class="container-fluid text-center text-md-start p-4">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Logo Empresa -->
                        <div>
                            <img src="~/img/Logo_Negro.jpeg" />
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 color-primario">
                            NAVEGACIÓN
                        </h6>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-light">
                                Inicio
                            </a>
                        </p>
                        <p>
                            <a href="#" class="text-light">Productos</a>
                        </p>
                        <p>
                            <a href="#" class="text-light">Ofertas</a>
                        </p>
                        <p>
                            <a href="#" class="text-light">Contacto</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 color-primario">
                            POLÍTICAS Y TÉRMINOS
                        </h6>
                        <p>
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Aviso de Privacidad</a>
                        </p>
                        <p>
                            <a href="#!" class="text-light">Términos y condiciones</a>
                        </p>
                        <p>
                            <a href="#!" class="text-light">Politica de devoluciones</a>
                        </p>
                        <p>
                            <a href="#!" class="text-light">Ayuda</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4 color-primario">
                            CONTACTO
                        </h6>
                        <p>
                           <a href="#" class="text-light">Sobre Nosotros</a> 
                        </p>
                        <p>
                            <i class="bi bi-house color-primario me-2"></i>
                            <a href="#" class="text-light">Ignacio Allende 5, Centro, 59554 Emiliano Zapata, Mich.</a>
                        </p>
                        <p>
                            <i class="bi bi-envelope color-primario me-2"></i>
                            <a href="mailto:tlapaleriaceja@gmail.com" class="text-light">tlapaleriaceja@gmail.com</a>
                        </p>
                        <p><i class="bi bi-telephone-fill color-primario me-2"></i>
                            <a class="text-light" style="text-decoration: none;">353 105 0793</a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100077043042956" target="_blank">
                                <i class="bi bi-facebook color-primario me-2" style="font-size: 2rem;"></i>
                            </a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Seccion: Links  -->
        <!-- Seccion Copyright -->
        <div class="text-center p-4 text-light bg-black">
            © 2024 Copyright: TlapaleriaCeja - Todos los derechos reservados
        </div>
        <!-- Seccion: Copyright -->
    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
