@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{

    <li class="nav-item dropdown mt-0">
            <a class="nav-link pe-4" style="width: 12%;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle" style="color:black"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <li class="mt-0">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Registro</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
                </li>
            </ul>
    </li>

       
}
</ul>
