html {
  font-size: 14px;
}

@media (min-width: 800px) {
  html {
    font-size: 16px;
  }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Inicia CSS personalizado */

.color-primario {
    color: #FFF114;
}

.bkg-cl-primario {
    background-color: #FFF114;
}

.navbar .navbar-nav .nav-link {
    transition: background-color 0.3s;
}

.navbar-inferior .navbar-nav .nav-link:hover {
    background-color: black;
    color: #FFF114 !important;
}

/* Efecto hover para el contenedor principal de la tarjeta */
.categoria.card:hover .card-body {
    /* Estilos para el cuerpo de la tarjeta y la imagen */
    background-color: black !important;
    color: #FFF114 !important;
    border-color: #FFF114 !important;
}

.categoria.card:hover .card-img-top {
    filter: grayscale(5%) blur(1px); /* Desenfoque y escala de grises */
    opacity: 0.8; /* Reducción de la opacidad */
}

/* Transiciones praanimaciones card de categoria */
.categoria.card .card-body,
.categoria.card .card-img-top {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, filter 0.3s, opacity 0.3s;
}

.prod-card {
    box-shadow: 2px 7px 5px 0 rgba(22, 22, 26, 0.18);
}

.botonCarritoProd button {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Agregar transición para un cambio suave */
}

.botonCarritoProd button:hover {
    background-color: black; /* Cambiar el fondo a negro al hacer hover */
    color: #FFF114; /* Cambiar el color del texto a amarillo al hacer hover */
    border-color: #FFF114; /* Cambiar el color del borde a amarillo al hacer hover */
}


/* INICIA CSS PARA EL SLICK CARROUSEL */
.slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    border: 0px
}

.slick-slide {
    margin:35px;
}

.slick-slide img {
   width: 100%;
   border: 2px solid #fff;
 }

.slick-next, .slick-prev {
    top: unset;
    bottom: 190px;
    z-index: 1;
}

.slick-next {
    right: 0;
    background: url("../img/flecha-correcta.png");
    background-size: 100%;
}

.slick-prev {
    left: 0;
    background: url("../img/flecha-izquierda (2).png");
    background-size: 100%;
}

.slick-next1, .slick-prev1 {
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    top: unset;
    bottom: 630px;
    z-index: 1;
}

.slick-next1 {
    right: 0;
}

.slick-prev1 {
    left: 0;
}

/* FIN CSS PARA EL SLICK CARROUSEL */


/* PARA QUE EL INPUT NUMBER NO TENGA FLECHITAS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* PARA QUE EL INPUT NUMBER NO TENGA FLECHITAS  FIN */


/* ---------------------------- FORM CONTROL AND FORM SELECT START---------------------------- */
.form-control:focus, .form-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input.input-border:focus,
.input-border:focus {
    border: 1px solid var(--ltn__secondary-color);
}

form .textarea-field .item{
    resize: none
}

.field .error-txt{
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -1px 0 2px;
    display: none;
}
/* ---------------------------- FORM CONTROL AND FORM SELECT END---------------------------- */



/* CONTACT PAGE  START */
.contact_wrap li {
    list-style: none;
}

.contact_wrap li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 25px;
    -ms-flex-align: center;
    align-items: center;
}

.contact_style3 {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px 20px;
    border-radius: 10px;
}

.contact_style3 .contact_icon {
    border: 1px solid black;
    margin: 0 0 5px;
    height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.contact_style3 .contact_icon i {
    line-height: 78px;
    transition: all 0.5s ease-in-out;
}

    .contact_style3 .contact_icon::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #FFF114;
        z-index:;
        transition: all 0.5s ease-in-out;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        border-radius: 100%;
        z-index: -1;
    }

.contact_style3:hover .contact_icon::before {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.contact_style3:hover .contact_icon i {
    color: black;
}

.contact_box {
    position: relative;
    padding: 50px 0px;
    display: table;
    width: 100%;
}

.contact_form {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    float: right;
    margin-right: 30px;
    position: relative;
    z-index: 9;
}

.contact_box .map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.contact_box .map iframe {
    height: 100%;
}

.contact_wrap li {
    list-style: none;
}

.contact_wrap li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 25px;
    -ms-flex-align: center;
    align-items: center;
}

.contact_icon {
    margin-right: 20px;
}

.contact_icon i {
    font-size: 34px;
    color: black;
}

.contact_text span {
    color: #333;
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
}

.contact_text p:last-child {
    margin-bottom: 0;
}

.contact_text a {
    color: #687188;
    line-height: 28px;
}

.contact_text a:hover {
    color: var(--ltn__secondary-color);
}

.leads {
    margin-bottom: 30px;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

textarea.form-control, textarea.form-control:focus {
    height: auto;
    padding: 12px 15px;
}

.btn-fill-out {
    background-color: transparent;
    border: 1px solid #FF324D;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.btn.active:focus, .btn:active:focus {
    box-shadow: none !important;
}

.btn-fill-out {
    background-color: black;
    border: 1px solid black;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .btn-fill-out::before,
    .btn-fill-out::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #FFF114;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        width: 51%;
    }

    .btn-fill-out::after {
        right: 0;
        left: auto;
    }

    .btn-fill-out:hover:before,
    .btn-fill-out:hover:after {
        width: 0;
    }

    .btn-fill-out:hover {
        color: #FFF114 !important;
    }

/* CONTACT PAGE END */
