html {
  font-size: 14px;
}

@media (min-width: 800px) {
  html {
    font-size: 16px;
  }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Inicia CSS personalizado */

.color-primario {
    color: #FFF114;
}

.bkg-cl-primario {
    background-color: #FFF114;
}

.navbar .navbar-nav .nav-link {
    transition: background-color 0.3s;
}

.navbar-inferior .navbar-nav .nav-link:hover {
    background-color: black;
    color: #FFF114 !important;
}

/* Efecto hover para el contenedor principal de la tarjeta */
.categoria.card:hover .card-body {
    /* Estilos para el cuerpo de la tarjeta y la imagen */
    background-color: black !important;
    color: #FFF114 !important;
    border-color: #FFF114 !important;
}

.categoria.card:hover .card-img-top {
    filter: grayscale(5%) blur(1px); /* Desenfoque y escala de grises */
    opacity: 0.8; /* Reducción de la opacidad */
}

/* Transiciones */
.categoria.card .card-body,
.categoria.card .card-img-top {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, filter 0.3s, opacity 0.3s;
}

.prod-card {
    box-shadow: 2px 7px 5px 0 rgba(22, 22, 26, 0.18);
}

.botonCarritoProd button {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Agregar transición para un cambio suave */
}

    .botonCarritoProd button:hover {
        background-color: black; /* Cambiar el fondo a negro al hacer hover */
        color: #FFF114; /* Cambiar el color del texto a amarillo al hacer hover */
        border-color: #FFF114; /* Cambiar el color del borde a amarillo al hacer hover */
    }

/* INICIA CSS PARA EL SLICK CARROUSEL */
.slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    border: 0px
}

.slick-slide {
    margin:35px;
}

.slick-slide img {
   width: 100%;
   border: 2px solid #fff;
 }

.slick-next, .slick-prev {
    top: unset;
    bottom: 190px;
    z-index: 1;
}

.slick-next {
    right: 0;
    background: url("../img/flecha-correcta.png");
    background-size: 100%;
}

.slick-prev {
    left: 0;
    background: url("../img/flecha-izquierda (2).png");
    background-size: 100%;
}

.slick-next1, .slick-prev1 {
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    top: unset;
    bottom: 630px;
    z-index: 1;
}

.slick-next1 {
    right: 0;
}

.slick-prev1 {
    left: 0;
}

/* FIN CSS PARA EL SLICK CARROUSEL */




/* PARA QUE EL INPUT NUMBER NO TENGA FLECHITAS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* PARA QUE EL INPUT NUMBER NO TENGA FLECHITAS  FIN */