@{
    ViewData["Title"] = "Home Page";
}


<!-- INICIA CARRUSEL -->
<div class="bg-dark">
    <div id="carouselExampleIndicators" class="carousel slide" style="height:30rem; overflow:hidden">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner d-block w-100 h-100" style="object-fit: contain;">
            <div class="carousel-item active w-100 h-100">
                <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item w-100 h-100">
                <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg" class="d-block w-100 h-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev bg-black" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="height:75px; width: 50px; top: 200px">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-black" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="height:75px; width: 50px; top: 200px">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!-- FIN CARRUSEL -->


<!-- INICIA CATEGORIAS -->
<div class="container pb-5 pt-5">
    <div class="text-center mt-5 mb-3" style="border-bottom: 5px solid #FFF114;">
        <h1 class="">CATEGORÍAS DE PRODUCTOS</h1>
        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>

    <!-- Inicia zona de cards -->
    <div class="container ps-lg-5 pe-lg-5">
        <div class="container row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <div class="col">
                <a asp-area="Admin" asp-controller="Bodega" asp-action="Index" class="text-decoration-none text-black">
                    <div class="categoria card h-100 border-1 border-dark">
                        <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg" class="card-img-top h-100" alt="...">
                        <div class="card-body border-1 border-dark p-3" style="background-color: #FFF114; border-top: solid;">
                            <h5 class="card-title text-center fw-bold m-0">PLOMERÍA Y FONTANERÍA</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-area="Admin" asp-controller="Bodega" asp-action="Index" class="text-decoration-none text-black">
                    <div class="categoria card h-100 border-1 border-dark">
                        <img src="https://i.blogs.es/0ca9a6/aa/1366_2000.jpeg" class="card-img-top h-100" alt="...">
                        <div class="card-body border-1 border-dark p-3" style="background-color: #FFF114; border-top: solid;">
                            <h5 class="card-title text-center fw-bold m-0">ELECTRICIDAD</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-area="Admin" asp-controller="Bodega" asp-action="Index" class="text-decoration-none text-black">
                    <div class="categoria card h-100 border-1 border-dark">
                        <img src="..." class="card-img-top h-100" alt="...">
                        <div class="card-body border-1 border-dark p-3" style="background-color: #FFF114; border-top: solid;">
                            <h5 class="card-title text-center fw-bold m-0">TORNILLERÍA</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-area="Admin" asp-controller="Bodega" asp-action="Index" class="text-decoration-none text-black">
                    <div class="categoria card h-100 border-1 border-dark">
                        <img src="..." class="card-img-top h-100" alt="...">
                        <div class="card-body border-1 border-dark p-3" style="background-color: #FFF114; border-top: solid;">
                            <h5 class="card-title text-center fw-bold m-0">HERRAMIENTAS</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-area="Admin" asp-controller="Bodega" asp-action="Index" class="text-decoration-none text-black">
                    <div class="categoria card h-100 border-1 border-dark">
                        <img src="..." class="card-img-top h-100" alt="...">
                        <div class="card-body border-1 border-dark p-3" style="background-color: #FFF114; border-top: solid;">
                            <h5 class="card-title text-center fw-bold m-0">FERRETERÍA EN GENERAL</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Fin zona de cards -->

</div>
<!-- FIN CATEGORIAS -->

<!-- INICIA OFERTAS -->
<div class="container pt-4">
    <div class="text-center mt-5 mb-3" style="border-bottom: 5px solid #FFF114;">
        <h1 class="">OFERTAS</h1>
        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>
</div>

<div class="container">
    <div class="container">
                <!-- Carrusel de Cards -->
                <div class="container slick_cards">
                    <!-- Contenido del carrusel aquí -->
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                             class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <!--
                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="text-muted mb-0">Disponible: <span class="fw-bold">6</span></p>
                                    </div>
                                -->

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.imprentaonline.net/blog/wp-content/webpc-passthru.php?src=https://www.imprentaonline.net/blog/wp-content/uploads/DALL%C2%B7E-2023-10-16-10.41.49-Illustration-depicting-a-humanoid-robot-with-half-of-its-face-transparent-revealing-intricate-circuits-and-gears-inside.-The-robot-is-holding-a-light-1.png&nocache=1"
                         class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="prod-card card h-100">
                            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg"
                                 class="card-img-top container pt-2 pb-2 img-fluid" style="height:13rem; overflow:hidden" alt="" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">Contacto DPLX con tierra 3 módulos platino</h6>
                                </div>

                                <div class="d-flex justify-content-between mb-1">
                                    <p class="small"><a href="#!" class="text-muted">Leviton</a></p>
                                </div>

                                <div class="d-flex justify-content-between mb-0">
                                    <p class="small text-danger m-0"><s>$1099</s></p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="text-dark mb-0">$999</h4>
                                </div>

                                <div class="botonCarritoProd">
                                    <button class="btn btn-outline-dark w-100 bkg-cl-primario" type="">
                                        <p class="m-0">Agregar al carrito</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

<!-- FIN OFERTAS -->


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.slick_cards').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,

                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
}



